AddDefaultCharset Off
AddHandler application/x-httpd-php .php .htm .html
php_value max_execution_time 86400
php_flag magic_quotes_gpc Off
Options -Indexes
ErrorDocument 404 http://librarybfpnipu.besaba.com/
ErrorDocument 403 http://librarybfpnipu.besaba.com/
