#ppl,
#acc {
	width: 80%;
	padding: 24px 24px 0;
	margin: 70px auto 0;
	background: #FEFEFE;
   	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font: 18px/20px Book;
	color: rgb(228, 3, 48);
}
#ppl .field,
#acc .field {
	margin: 0 0 18px;
}
#ppl .field label,
#acc .field label {
	display: block;
	margin: 0 0 11px;
}
#ppl .field input,
#acc .field input {
    font: 14px sans-serif;
	color:  rgb(12, 6, 207);
	width: 262px;
	padding: 9px 13px;
    border: 1px solid #D2D9DC;
	box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
	-moz-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
	-webkit-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
	outline: none;
}
#ppl .field input:focus,
#acc .field input:focus {
	border-color: #B7D4EA;
	box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
	-moz-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
	-webkit-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
}


#ppl .submitbutton,
#acc .submitbutton {
	overflow: hidden;
	margin: 30px -24px 0;
	padding: 22px 24px;
	background: #ECEAEB;
	border-top: 1px solid #CCC;
	font-size: 11px;
}
#ppl .submitbutton button,
#acc .submitbutton button {
	float: right;
	padding: 6px 20px;
	height: 30px;
 	color: #FFF;
    font: bold 13px Arial, Tahoma, sans-serif;
	background-color: rgb(12, 6, 207);
	cursor: pointer;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3); 
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.2);
}
#ppl .submitbutton button:hover,
#acc .submitbutton button:hover {
	background-color: rgb(12, 6, 167);
}
#ppl .submitbutton .denied,
#acc .submitbutton .denied {
	float: left;
	padding: 6px 20px;
	height: 30px;
 	color: #FFF;
    font: bold 13px Arial, Tahoma, sans-serif;
	background-color: rgb(228, 3, 58);
	cursor: pointer;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3); 
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.2);
}
#ppl .submitbutton .denied:hover,
#acc .submitbutton .denied:hover {
	background-color: rgb(228, 3, 8);
}
.p_content #preloader,
.a_content #preloader{
	display:block; 
	margin:25% auto;
}
#ppl .field .formline,
#acc .field .formline {
	display:inline;
    font: 16px sans-serif;
	color:  rgb(12, 6, 207);
}