header,.menuline {
	min-width: 800px;
	max-width: 1200px;
	padding:0 auto;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
header {
	background-color:rgba(255, 255, 255, 0.5);
    margin:2px auto;
	height: 135px;
	overflow:hidden;
}

.logo {
	background-image:url(../img/logo.png);
	background-repeat:no-repeat;
	width: 249px;
	height:62px;
	margin: 30px 0 0 70px;
}
.menuline {
	background-color:rgba(12, 6, 207, 0.9);
	margin:0 auto;
	height:30px;
}
.line,.exit {
	height:30px;
	width:150px;
	float:left;
	color: white;
	font: bold 15px Arial, Tahoma, sans-serif;
	padding:0 auto;
	cursor: pointer;
	text-decoration: none;
	text-align:center;
	line-height:30px;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
	}
.exit {
	float:right;
	}


.line:hover{
	background-color:rgba(12, 6, 157, 0.9);
	color:white;

}
.exit:hover{
	background-color:rgb(228, 3, 48);
	color:white;

}
.mainmenu {
	width: 645px;
	padding:0 auto;
	margin:-20px auto;
	height:30px;

	
}

.mainmenu a{
	height:30px;
	width: 150px;
	float:left;
	color: rgb(228, 3, 48);
	font: bold 14px Arial, Tahoma, sans-serif;
	padding:0 5px;
	cursor: pointer;
	text-decoration: none;
	text-align:center;
	line-height:30px;
	border-right:dotted 1px rgba(225, 225, 225, 0.5);
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
	

}
.mainmenu a:last-child {
	border-right:dotted 0px rgba(225, 225, 225, 0.5) ;
	}
.mainmenu a:hover{
	background-color:rgb(255, 255, 255);
	border-right:dotted 1px rgba(238, 238, 238, 0.5);
	color: rgb(228, 3, 88);


}
.selected {
	color: rgb(228, 3, 88);
	background: linear-gradient(180deg, rgba(0,0,0,0.1),rgba(238, 238, 238, 0.5));
}

