.header,.menuline {
	min-width: 800px;
	max-width: 1200px;
	padding:0 auto;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.header {
	background-color:rgba(255, 255, 255, 0.5);
    margin:2px auto;
	height: 135px;
	overflow:hidden;
}
.menuline {
	background-color:rgba(12, 6, 207, 0.9);
	margin:0 auto;
	height:30px;
}

.logo {
	background-image:url(../img/logo.png);
	background-repeat:no-repeat;
	width: 249px;
	height:62px;
	margin: 30px 0 0 70px;
}
.main,
.cabinet,
.help,
.exit {
	margin:0px auto;
	height:29px;
	width:150px;
	float:left;
	color: white;
	font: bold 15px Arial, Tahoma, sans-serif;
	padding:0 auto;
	cursor: pointer;
	text-decoration: none;
	text-align:center;
	line-height:30px;

}
.main:hover,
.cabinet:hover,
.help:hover,
.exit:hover{
	background-color:#030A87;
}
