@charset "utf-8";
@import url("formlog.css");
@import url("formreg.css");
@import url("formuser.css");
@import url("header.css");
@import url("index.css");
@import url("../app/scripts/jqgrid/css/ui.jqgrid.css");
@import url("../app/scripts/jqgrid/themes/jquery-ui-1.9.2.custom.min.css");
@import url("../app/scripts/jqgrid/plugins/ui.multiselect.css");
@font-face {
    font-family: Book;
    src: url(BKANT.ttf);
   }
html,body {
	background-image:url(../img/white-noise.gif);
	margin:0 auto;
	padding:0 auto;
	font-size:14px;
	font-family:Book;
	height:100%;
	color:rgb(12, 6, 207);
}
.page {
	min-width: 800px;
	max-width: 1200px;
	height: 100%;	
	margin:0 auto;
	}

footer {
	height: 18px;
    margin:0 auto;
    bottom:0px;
	position:  fixed;
	width: 100%;
	clear:both;
	text-align:center;
	vertical-align:50%;
	font-size:11px;
	color:12, 6, 207;

}
footer .border{
	border-top:1px solid #D8D8D8;
    margin:0 auto;
	width: 1000px;


}
#attentionForm {
	margin: 10% auto;
	padding:10px 10px;
	width: 50%;
	background: #FEFEFE;
   	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font: 26px Book;
	text-shadow: 1px 1px 2px black, 0 0 0.6em red;
	color: #FF2B30;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
	cursor: pointer;
}

		
.attentionText {
	height: 100%;
	text-align:center;
	text-decoration: none;
	display:block;
			}
#attentionForm:hover {
	background-color:rgba(228, 3, 48, 0.1);
	box-shadow: 0 0 0px rgb(0,0,0);
   	-moz-box-shadow: 0 0 0px rgb(0,0,0);
    -webkit-box-shadow: 0 0 0px rgb(0,0,0);

			}

			
.attentionText:visited {
	text-decoration: none;
	color: #FF2B30;
			}

#preloader{
	display:block; 
	margin:15% auto;
	}
.content {
	height: 100%;	
	margin:20px auto;
	background-color:rgba(238, 238, 238, 0.5);
	padding: 30px;
	min-width: 800px;
	max-width: 1200px;
		}
.personal,.accaunt {
    height:90%;
	width: 45%;
	margin:-1px auto;
	}
.personal {
    float:left;
	}
.accaunt {
    float:right;
	}
.p_content,.a_content {
   	height: 100%;
	width: 100%;	
	margin:0 auto;
	background-color:rgba(238, 238, 238, 0.5);
	float:left;
	}
.legend {
	height:30px;
	width: 150px;
	float:left;
	color: rgb(228, 3, 48);
	font: bold 14px Arial, Tahoma, sans-serif;
	padding:0 5px;
	text-align:center;
	line-height:30px;
	background: linear-gradient(180deg, rgba(0,0,0,0.1),rgba(238, 238, 238, 0.5));
	}
.table .ui-jqgrid {margin:0 auto;
       
	}
.subgridform {
	float:left;
    width: 300px;
	margin-left:35px;}
.subgridform2 {
	float:left;
    width: 300px;
	margin-left:117px;}

	