@charset "utf-8";
@import url("formlog.css");
@import url("formreg.css");
@import url("formuser.css");
@import url("header.css");
@import url("index.css");
@import url("../app/scripts/jqgrid/css/ui.jqgrid.css");
@import url("../app/scripts/jqgrid/themes/jquery-ui-1.9.2.custom.min.css");
@import url("../app/scripts/jqgrid/plugins/ui.multiselect.css");
@font-face {
    font-family: Book;
    src: url(BKANT.ttf);
   }
html,body {
	background-image:url(../img/white-noise.gif);
	margin:0 auto;
	padding:0 auto;
	font-size:14px;
	font-family:Book;
	height:100%;
	color:rgb(12, 6, 207);
}
.page {
	min-width: 800px;
	max-width: 1200px;
	height: 100%;	
	margin:0 auto;
	}

footer {
	height: 18px;
    margin:0 auto;
    bottom:0px;
	position:  fixed;
	width: 100%;
	clear:both;
	text-align:center;
	vertical-align:50%;
	font-size:11px;
	color:rgb(12, 6, 207);

}
footer .border{
	border-top:1px solid #D8D8D8;
    margin:0 auto;
	width: 1000px;

}
#attentionForm {
	margin: 10% auto;
	padding:10px 10px;
	width: 50%;
	background: #FEFEFE;
   	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font: 26px Book;
	text-shadow: 1px 1px 2px black, 0 0 0.6em red;
	color: #FF2B30;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
	cursor: pointer;
}

		
.attentionText {
	height: 100%;
	text-align:center;
	text-decoration: none;
	display:block;
			}
#attentionForm:hover {
	background-color:rgba(228, 3, 48, 0.1);
	box-shadow: 0 0 0px rgb(0,0,0);
   	-moz-box-shadow: 0 0 0px rgb(0,0,0);
    -webkit-box-shadow: 0 0 0px rgb(0,0,0);

			}

			
.attentionText:visited {
	text-decoration: none;
	color: #FF2B30;
			}

#preloader{
	display:block; 
	margin:15% auto;
	}
.content {
	height: 100%;	
	margin:20px auto;
	background-color:rgba(238, 238, 238, 0.5);
	padding: 30px;
	min-width: 800px;
	max-width: 1200px;
		}
.personal,.accaunt {
    height:90%;
	width: 45%;
	margin:-1px auto;
	}
.personal {
    float:left;
	}
.accaunt {
    float:right;
	}
.p_content,.a_content {
   	height: 100%;
	width: 100%;	
	margin:0 auto;
	background-color:rgba(238, 238, 238, 0.5);
	float:left;
	}
.legend {
	height:30px;
	width: 150px;
	float:left;
	color: rgb(228, 3, 48);
	font: bold 14px Arial, Tahoma, sans-serif;
	padding:0 5px;
	text-align:center;
	line-height:30px;
	background: linear-gradient(180deg, rgba(0,0,0,0.1),rgba(238, 238, 238, 0.5));
	}
.table .ui-jqgrid {margin:0 auto;
       
	}
.subgridform {
	float:left;
    width: 300px;
	margin-left:35px;}
.subgridform2 {
	float:left;
    width: 300px;
	margin-left:117px;}

.ui-tooltip {
	color:rgb(12, 6, 207);
    font-size:11px;
	border:0px;
	font-family:Book;
	max-width:260px;
	background:rgba(248, 248, 248, 0.8);
  }	
#giveForm {
	width: 950px;
	height: 170px;
	padding: 24px 24px 0;
	margin: 0 auto 30px;
	background: #FEFEFE;
   	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font: 16px/18px Book;
	color: rgb(12, 6, 207);
}
#giveForm .field {
	margin:0 8px;
	float:left;
}
#giveForm .fields {
 width:890px;
 margin: 0 auto;
}
#giveForm .field label {
	display: block;
	margin: 0 0 11px;
}
#giveForm .field input {
    font: 14px sans-serif;
	color: rgb(12, 6, 207);
	width: 252px;
	padding: 9px 13px;
    border: 1px solid #D2D9DC;
	box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
	outline: none;
}
#giveForm .field input:focus {
	border-color: #B7D4EA;
	box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
}
#giveForm button {
	overflow:hidden;
	padding: 6px 20px;
	height: 30px;
 	color: #FFF;
    font: bold 13px Arial, Tahoma, sans-serif;
	background-color: rgb(12, 6, 207);
	cursor: pointer;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3); 
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.2);
	margin:20px 35px 30px;
	float:right;
}
#giveForm button:hover {
	background-color: rgb(12, 6, 167);
}  
#giveForm .add {
	overflow:hidden;
	padding: 6px 20px;
	height: 18px;
 	color: #FFF;
    font: bold 13px Arial, Tahoma, sans-serif;
	background-color: rgb(228, 3, 58);
	cursor: pointer;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3); 
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.2);
	margin:20px 35px 30px;
	float:left;
}
#giveForm .add:hover {
	background-color: rgb(228, 3, 8);
}  
.ui-autocomplete {
	max-width:400px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
	background:rgba(248, 248, 248, 0.9);
}